h1::before {
	content: '';
	padding-right: 48px;
	padding-left: 18px;
	background-image: url(/public/icon.png);
	background-size: contain;
	background-repeat: no-repeat;
}

body {
	margin: 20px;
	padding: 20px;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}