<h1>Welcome to Jesusgram!</h1>
<br>
<h5>Jesusgram is a photo and video sharing social network. </h5>

<strong>Author: <a href="https://github.com/Andre-J3sus">André Jesus</a></strong>
<p>Project GitHub repository <a href="https://github.com/Andre-J3sus/Jesusgram">here</a>.</p>

<br>

<img src="/public/images/logo.png" alt="Logo" class="rounded mx-auto d-block">