<nav class="nav nav-pills center">
    <a class="navbar-brand" href="/"><img src="/public/logo_inline.png" alt="Logo" height="70"></a>
    <a class="nav-link" href="/user/:userId/dashboard">Dashboard</a>
    <a class="nav-link active" href="/user/:userId/profile">Profile</a>
    <a class="nav-link" href="/user/:userId/logout">Logout</a>
</nav>

<hr>

<h1>Profile</h1>