<div class="container">
    <div class="row justify-content-evenly">
        <div class="col-5 card m-1 inline bg-light">
            <div class="card-body">
                <h1 class="card-title">Register</h1>

                <form action="/register" method="POST">
                    <div class="mb-3">
                        <label for="register-userName" class="form-label">User Name:</label>
                        <input type="text" class="form-control" id="register-userName" name="userName"
                            aria-describedby="userName" placeholder="Enter User Name" pattern="[a-zA-Z0-9]{3,30}"
                            title="Only alphanumeric characters. Length: [3, 30] characters" minlength="3"
                            maxlength="30" required>
                    </div>

                    <div class="mb-3">
                        <label for="register-userId" class="form-label">User Id:</label>
                        <input type="text" class="form-control" id="register-userId" name="userId"
                            placeholder="Enter User Id" pattern="[a-z0-9]{4,30}"
                            title="Only lowercase letters and digits. Length: [4, 30] characters" minlength="4"
                            maxlength="30" required>
                        <small id="idHelp" class="form-text text-muted">
                            User Id is recommended to be some short and easy to remember.
                        </small>
                    </div>

                    <div class="mb-3">
                        <label for="register-password" class="form-label">Password:</label>
                        <input type="password" class="form-control" id="register-password" name="password"
                            placeholder="Enter Your Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30}"
                            minlength="8" maxlength="30" required>
                        <small id="passwordHelp" class="form-text text-muted">
                            Don't share your password with anyone.
                            Must contain at least one number and one uppercase and lowercase letter, and at least 8 or
                            more characters
                        </small>
                    </div>

                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
                {{#if already_exists}}
                <div class="alert alert-danger mt-4" role="alert">
                    User with specified userID already exists!
                </div>
                {{/if}}
            </div>
        </div>

        <div class="col-5 card m-1 inline bg-light">
            <div class="card-body">
                <h1 class="card-title">Login</h1>

                <form action="/login" method="POST">
                    <div class="mb-3">
                        <label for="userId" class="form-label">User Id:</label>
                        <input type="text" class="form-control" id="userId" name="userId" aria-describedby="userId"
                            placeholder="Enter Your User Id" pattern="[a-z0-9]{4,30}"
                            title="Only lowercase letters and digits. Length: [4, 30] characters" minlength="4"
                            maxlength="30" required>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="Enter Your Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30}"
                            minlength="8" maxlength="30" required>
                        <small id="passwordHelp" class="form-text text-muted">
                            Don't share your password with anyone.
                        </small>
                    </div>

                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
                {{#if forbidden}}
                <div class="alert alert-danger mt-4" role="alert">
                    Please insert a valid userId/password combination!
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>