<nav class="nav nav-pills center">
    <a class="navbar-brand" href="/"><img src="/public/logo_inline.png" alt="Logo" height="70"></a>
    <a class="nav-link active" href="/user/register-login">Register/Login</a>
</nav>

<hr>

<div class="container">
    <div class="row justify-content-evenly">
        <div class="col-5 card m-1 inline bg-light">
            <div class="card-body">
                <h1 class="card-title">Register</h1>

                <form action="/user/register" method="POST">
                    <div class="mb-3">
                        <label for="userName" class="form-label">User Name:</label>
                        <input type="text" class="form-control" id="userName" name="userName"
                            aria-describedby="userName" placeholder="Enter User Name" required>
                    </div>

                    <div class="mb-3">
                        <label for="userId" class="form-label">User Id:</label>
                        <input type="text" class="form-control" id="userId" name="userId" placeholder="Enter User Id"
                            required>
                        <small id="idHelp" class="form-text text-muted">
                            User Id is recommended to be some short and easy to remember.
                        </small>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="Enter Your Password" required>
                        <small id="passwordHelp" class="form-text text-muted">
                            Don't share your password with anyone.
                        </small>
                    </div>

                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>

        <div class="col-5 card m-1 inline bg-light">
            <div class="card-body">
                <h1 class="card-title">Login</h1>

                <form action="/user/login" method="POST">
                    <div class="mb-3">
                        <label for="userId" class="form-label">User Id:</label>
                        <input type="text" class="form-control" id="userId" name="userId" aria-describedby="userId"
                            placeholder="Enter Your User Id" required>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="Enter Your Password" required>
                        <small id="passwordHelp" class="form-text text-muted">
                            Don't share your password with anyone.
                        </small>
                    </div>

                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>