<div class="card card-body w-50 h-center mb-5 bg-light">
    <h1>Search People</h1>
    <form action="/user/{{user.userId}}/searchUser" method="GET">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="searchedUserId" placeholder="Search for a userID" required>
            <button type="submit" class="btn btn-primary w-25">Search</button>
        </div>
    </form>
</div>


<h1>People you may know</h1>

{{#each people}}
<div class="card card-body w-50 h-center mb-3 bg-light">
    <p>{{this}}</p>
</div>
{{/each}}